
<!--  for the header and footer , I was just try to see if it will work if I put it in a different folder-->
<%- include ('commons/header') %>
<h1>Welcome to my blog </h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, quo. Quas magnam, quam sint fugit 
cumque voluptas laboriosam
, ullam possimus aut accusantium inventore vero ipsam quae, ratione magni molestiae aperiam.


  <h3>Whrite a review</h3>
  <form action="/submit" method="POST">
    <input type="text" name="message"  placeholder="Enter your review" required  class="message" style="height: 60px; background-color: rgb(238, 184, 118); border-radius: 30%;" > 
    <br><button type="submit">Submit</button>
  </form>

  <!-- <h2>Write a review </h2> -->
  
    <% messages.forEach((message, index) => { %>
      
        <%= message %>
        <form action="/delete" method="POST" style="display:inline;">
          <input type="hidden" name="index" value="<%= index %>"><br><br>
          <button type="submit">Delete</button>
        </form><br>
        <form action="/update" method="POST" style="display:inline;">
          <input type="hidden" name="index" value="<%= index %>">
          <input type="text" name="newMessage" placeholder="New message" required><br>
          <button type="submit" >Update</button><br><br>
        </form>

         <% }); %>

         <br><br><br>
         
         
  
  
  
  <%- include ('commons/footer') %>


